@inject HttpClient http
@using ShopEasy.Shared.Models
<ul class="list-unstyled">
    @foreach (var Product in Products)
    {
        <li class="media my-3">
                <div class="media-img-wrapper mr-2">
                    <a href="/product/@Product.Id">
                        <img class="media-img" src="@Product.ImageUrl" alt="@Product.Title" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="/product/@Product.Id">
                        <h4 class="mb-0">@Product.Title</h4>
                    </a>
                    <p>@Product.Description</p>
                    <h5 class="price">
                        @Product.Price
                        @*@GetPriceText(product)*@
                    </h5>
                </div>
            </li>
    }
</ul>

@code {
    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        Products = await http.GetFromJsonAsync<List<Product>>("api/Product");
        
    }
}
