@inject IProductClientServices ProductClientServices
@using ShopEasy.Shared.Models
@using ShopEazy.Shared
@implements IDisposable

@if (ProductClientServices.Products == null || ProductClientServices.Products.Count == 0)
{
    <span>Loding Products...</span>

}
else
{
    <ul class="list-unstyled">
        @foreach (var Product in ProductClientServices.Products)
        {
            <li class="media my-3">
                <div class="media-img-wrapper mr-2">
                    <a href="/product/@Product.Id">
                        <img class="media-img" src="@Product.ImageUrl" alt="@Product.Title" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="/product/@Product.Id">
                        <h4 class="mb-0">@Product.Title</h4>
                    </a>
                    <p>@Product.Description</p>
                    <h5 class="price">
                        @Product.Price
                        @*@GetPriceText(product)*@
                    </h5>
                </div>
            </li>
        }
    </ul>
}
@code {


    protected override void OnInitialized()
    {
        // await ProductClientServices.GetProducts();
        ProductClientServices.ProductsSelectionChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ProductClientServices.ProductsSelectionChanged -= StateHasChanged;
    }
}
